services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    depends_on:
      - app-python
    restart: always # Ensure Nginx restarts automatically
    networks:
      - public_network
      - private_network
    volumes:
      - ./frontend/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro


  app-python:
    build:
      context: ./backend/app-python
    container_name: app-python
    restart: always # Ensure Python app restarts automatically
    networks:
      - private_network
  
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./backend/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    restart: always # Ensure Prometheus restarts automatically
    networks:
      - private_network


networks:
  public_network:
  private_network:

volumes:
  prometheus_data: